.wrapper {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 8px 15px;
  font-size: 1.6rem;
  font-weight: 700;
  border-radius: 8px;
  cursor: pointer;
  border: 1px solid transparent;
  user-select: none;
  font-family: "IBM Plex Sans", san-serif;
  transition: all 0.2s ease;

  + .wrapper {
    margin-left: 5px;
  }

  &.disable {
    pointer-events: none;
    opacity: 0.5;
  }

  &:hover {
    .icon {
      transform: scale(1.15);
      box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    }
  }
}

.icon {
  display: inline-block;
  text-align: center;
  color: var(--white);
  position: relative; // thêm

  .badge {
    position: absolute;
    top: -8px;
    right: -10px;
    min-width: 15px;
    height: 18px;
    padding: 1px 4px;
    background-color: #f48120;
    color: #fff;
    font-size: 1.3rem;
    font-weight: 600;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    pointer-events: none;
  }
}

.primary {
  width: 100%;
  color: var(--white);
  background-color: var(--primary);
  border-color: var(--primary);

  &:hover {
    background:
      linear-gradient(0deg, rgba(0, 0, 0, 0.407), rgba(0, 0, 0, 0.06)), #39b54a;
  }
}

.outline {
  color: var(--primary);

  &:hover {
    text-decoration: underline;
  }
}

.text {
  color: var(--white);
  background-color: var(--greenPrimary);
  font-weight: 500;
  font-size: 1.5rem;
  border-radius: 8px;
  border: 2px solid var(--white);

  &:hover {
    color: var(--primary);
    border-color: var(--primary);
  }
}

.small {
  min-width: 50px;
  padding: 4px;
}

.medium {
  width: 200px;
  min-width: 150px;
  height: 50px;
  padding: 10px 12px;
  background-color: var(--white);
  color: #1b8487;
  border: 2px solid var(--white);

  &:hover {
    background-color: transparent;
    color: var(--white);
    border: 2px solid var(--white);
  }
}

.large {
  width: 280px;
  min-width: 200px;
  height: 180px;
  padding: 14px 16px;
  background-color: #6cbbbb;
  color: var(--white);

  .icon {
    font-size: 40px;
    color: var(--white);
  }
}
