.blog {
  width: 100%;
  height: auto;
  align-items: start;
  background: url(//theme.hstatic.net/200000851307/1001229135/14/tintucz.png?v=1166)
    left bottom no-repeat #fff;
  background-size: 100% 80%;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  overflow: hidden;
}

.blog-content {
  width: var(--default-layout-width);
  text-align: start;
  color: var(--greenPrimary);
  position: relative;
  padding-bottom: 15px;

  @media (max-width: 768px) {
    width: 100%;
  }
}

.blog-title {
  font-size: 3rem;
  font-weight: 700;
  padding-bottom: 10px;

  @media (max-width: 768px) {
    margin-left: 10px;
  }
}

.list {
  display: flex;
  gap: 19px;
  overflow-x: auto;
  overflow-y: hidden;
  // scroll-behavior: smooth;

  will-change: transform;
  transform: translateZ(0);

  @media (max-width: 768px) {
    padding: 0 20px;
  }
}

.list::-webkit-scrollbar {
  display: none;
}
