.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: transparent;
}

.loader {
  display: flex;
  gap: 6px;
  color: var(--greenPrimary);
  font-size: 1.5rem;
}

.icon {
  animation: spinner 1s linear infinite;
}

@keyframes spinner {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
