.wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 12px;
  align-items: center;
  margin-bottom: 15px;

  @media (max-width: 768px) {
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }

  @media (max-width: 480px) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.tag {
  cursor: pointer;
  transition: all 0.25s ease;

  border-radius: 8px;
  padding: 12px;
  // background: #fff;
  background: var(--greenPrimary);

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  // trạng thái mặc định
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);

  &:hover {
    .title {
      color: var(--primary);
    }
    transform: translateY(-2px) scale(1.03);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);

    .icon {
      transform: scale(1.1);
      color: var(--primary);
    }
  }

  &:active {
    title {
      color: var(--greenPrimary);
    }
    transform: scale(0.96);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }

  @media (max-width: 768px) {
    padding: 8px;
  }
}

.icon {
  color: #fff;
  font-size: 2.2rem;
  transition: transform 0.25s ease;

  @media (max-width: 480px) {
    font-size: 1.5rem;
  }
}

.title {
  color: #fff;
  font-size: 1.8rem;
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
