.wrapper {
  max-width: 380px;
  min-width: 380px;
  background-color: #fff;
  justify-content: start;
  border-radius: 10px;
  border: solid 2px #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

  &:hover {
    border: 2px solid #1a5c3b;
  }

  @media (max-width: 768px) {
    max-width: 440px;
    min-width: 440px;
  }
}

.image {
  width: 100%;
  height: 240px;
  object-fit: cover;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  cursor: pointer;
}

.container {
  display: flex;
  text-align: start;
}

.content {
  padding: 20px;
  justify-items: start;
}

.title {
  font-size: 2.2rem;
  font-weight: 550;
  color: var(--black);
  margin: 0;
  padding-bottom: 10px;
  height: 50px;
  cursor: pointer;
}

.description {
  font-size: 1.4rem;
  color: var(--gray);
  margin: 10px 0;
  height: 80px;
}

.read-more-btn {
  padding: 0;
  color: #03524e;
  background-color: transparent;
  font-size: 1.5rem;
  font-weight: 600;
  cursor: pointer;
}
